{% extends "base.html" %}
{% block title %}NTSB PLANE CRASH WEB INTERFACE{% endblock %}
{% block additionalCSS %} 
    <link rel="stylesheet" href="/static/css/home_page.css">
{% endblock %}
{% block page_header %}
  <h3 class="home_header">NTSB CRASH DATA INTERFACE</h3>
{% endblock %}
{% block content %} 
  <img class="backdrop" src="/static/img/ntsb1.jpg"></img>
  <table class="nav_panels">
    <tr>
      <td><div class="panel"><a href="/reporter">Report an Accident</a></div></td>
      <td><div class="panel"><a href="/mapper">Crash Mapper</a></div></td>
      <td><div class="panel"><a href="/time_search_form">Time Search</a></div></td>
    </tr>
    <tr>
      <td><div class="panel"><a href="/airline_leaderboard">Airline Leaderboard</a></div></td>
      <td><div class="panel"><a href="/location_search_form">Location Search</a></div></td>
      <td><div class="panel"><a href="/flight_environment">Flight Environment</a></div></td>
    </tr>
  </table>
{% endblock %}
